# Logs and Databases #
*.sqlite
*.sql

# Have to add the "_site" folder to gitignore to not show up on github #
_site

Local Settings

.jekyll-cache

.sass-cache
.jekyll-metadata
vendor
Gemfile.lock
node_modules/
vendor/
*.gem
.bundle/

_config_local.yml