---
layout: home
nav_exclude: false
new: false
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
</head>
<body>
    <h1>Welcome to the Documentation Wiki!</h1>
    <p>This will be a storage site for all user and technical documentation.</p>
    <p>Searching is supported with this theme, just use the search bar to query specific results.</p>
    <br />
    <h2>Or, you may upload a document</h2>
    
    <form>
        
        <label for="foldername">Choose a project name:</label>
        {% for collection in site.collections %}
        <input type="radio" id="{{ collection.title }}" value="{{collection.title }}" />
        {% endfor %}

        <input type="radio" id="new" value="Create a new project folder" />
        {% if page.new == true %}
            <input type="text" id="newprojectname" value="New project folder name: " />
        {% endif %}


        <label for="fileupload">Upload a docx or pdf file here:</label>
    </form>

</body>
</html>